---
import {Mdfiles} from "@app";
import {Row, Text} from "@atoms";
import {Main} from "@templates";

const file = await Mdfiles.get_file("test");
if (!file) {
  return Astro.redirect("/404");
}
---

<Main title="localhost | Protected">
  <Row
    style={{
      display: "flex",
      flexDirection: "column",
      alignItems: "center",
    }}>
    <Text label="PROTECTED" type="primary" size={4} color="var(--fg-color)" />
    <a
      href="/"
      style={{
        border: "1px solid var(--accent-color)",
        padding: "0.5rem",
        borderRadius: "0.5rem",
      }}>Go back to home</a
    >
    <Text
      label={file.title ?? ""}
      type="primary"
      size={4}
      color="var(--fg-color)"
    />
  </Row>
</Main>
